.memory {
  display: flex;
  flex-wrap: wrap;
  max-width: 64vh;
  margin: 30px auto 0 auto;
  &__btn {
    cursor: pointer;
    width: 14vh;
    height: 14vh;
    margin: 1vh;
    font-size: 6vh;
    font-weight: bold;
    transition: .2s;
  }
  &__btn--disabled {
      background-color: aquamarine;
      border: 1px solid grey;
      cursor: default;
  }
  &__text {
    width: 100%;
    margin: 3vh auto;
    text-align: center;
    font-size: 5vh;
    font-weight: bold;
  }
}